In [28]:
#!/usr/bin/env python
# coding: utf-8
import pandas as pd
from sqlalchemy import create_engine
import argparse
import os
import psycopg2

In [29]:
user="root"
password="root"
host="localhost"
port=5432 
db="week1_hw"
taxi_trips_table_name="taxi_trips" 
taxi_zones_table_name="taxi_zones" 
taxi_trips_url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz" 
taxi_zones_url="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [30]:
# urls
taxi_trips_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
taxi_zones_url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

# filename to save
taxi_trips_file_name = "green_tripdata_2019-09.csv.gz"
taxi_zones_file_name = "taxi+_zone_lookup.csv"

# actually download the file from the url
os.system(f"wget {taxi_trips_url} -O {taxi_trips_file_name}")
taxi_trips_df = pd.read_csv(taxi_trips_file_name)
os.system(f"wget {taxi_zones_url} -O {taxi_zones_file_name}")
taxi_zones_df = pd.read_csv(taxi_zones_file_name)

--2024-02-04 12:44:20--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240204T114422Z&X-Amz-Expires=300&X-Amz-Signature=d81db9dc4e1c0b088caa5b79b04d48f8ded89bc1daeaf96d020abc299ed2f0d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-04 12:44:22--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240204%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240204T114422Z&X-Amz-Expires=300&X-Amz-Signature=d81db9dc4e1c0b088caa5b79b04d48f8ded89bc1daeaf96d020abc299ed2f0d6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7,5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 2,42M 3s
    50K .......... .......... .......... .......... ..........  1% 4,58M 2s
   100K .......... .......... .......... .......... ..........  1% 2,73M 2s
   150K .......... .......... .......... .......... ..........  2% 20,9M 2s
   200K .......... .......... .......... .......... ..........  3% 5,54M 2s
   250K .......... .......... .......... .......... ..........  3% 11,6M 2s
   300K .......... .......... .......... .......... ..........  4% 10,7M 1s
   350K .......... .......... .......... .......... ..........  5% 12,3M 1s
   400K .......... .......... .......... .......... ..........  5% 4,23M 1s
   450K .......... .......... .......... .......... ..........  6% 75,4M 1s
   500K .......... .......... .......... .......... ..........  7%  328M 1s
   550K .......... .......... .......... .......... ..........  7% 28,5M 1s
   600K .......... .......... .......... .......... ..........  8% 8,33M 1s
   650K .......... .......... .......... .......... ..........  9% 23,6M 1s
   700K .......... .......... .......... .......... ..........  9% 73,3M 1s
   750K .......... .......... .......... .......... .......... 10% 14,6M 1s
   800K .......... .......... .......... .......... .......... 11% 12,1M 1s
   850K .......... .......... .......... .......... .......... 11% 40,2M 1s
   900K .......... .......... .......... .......... .......... 12%  199M 1s
   950K .......... .......... .......... .......... .......... 13% 40,3M 1s
  1000K .......... .......... .......... .......... .......... 13%  421M 1s
  1050K .......... .......... .......... .......... .......... 14% 51,8M 1s
  1100K .......... .......... .......... .......... .......... 14% 34,1M 1s
  1150K .......... .......... .......... .......... .......... 15% 8,16M 1s
  1200K .......... .......... .......... .......... .......... 16%  448M 1s
  1250K .......... .......... .......... .......... .......... 16% 29,9M 1s
  1300K .......... .......... .......... .......... .......... 17%  146M 1s
  1350K .......... .......... .......... .......... .......... 18% 72,7M 1s
  1400K .......... .......... .......... .......... .......... 18% 7,21M 1s
  1450K .......... .......... .......... .......... .......... 19%  537M 1s
  1500K .......... .......... .......... .......... .......... 20% 42,6M 0s
  1550K .......... .......... .......... .......... .......... 20%  465M 0s
  1600K .......... .......... .......... .......... .......... 21%  252M 0s
  1650K .......... .......... .......... .......... .......... 22% 71,8M 0s
  1700K .......... .......... .......... .......... .......... 22% 55,1M 0s
  1750K .......... .......... .......... .......... .......... 23%  509M 0s
  1800K .......... .......... .......... .......... .......... 24%  626M 0s
  1850K .......... .......... .......... .......... .......... 24% 5,63M 0s
  1900K .......... .......... .......... .......... .......... 25%  669M 0s
  1950K .......... .......... .......... .......... .......... 26%  531M 0s
  2000K .......... .......... .......... .......... .......... 26%  660M 0s
  2050K .......... .......... .......... .......... .......... 27%  581M 0s
  2100K .......... .......... .......... .......... .......... 28%  148M 0s
  2150K .......... .......... .......... .......... .......... 28% 78,6M 0s
  2200K .......... .......... .......... .......... .......... 29% 29,7M 0s
  2250K .......... .......... .......... .......... .......... 29%  660M 0s
  2300K .......... .......... .......... .......... .......... 30%  698M 0s
  2350K .......... .......... .......... .......... .......... 31% 60,1M 0s
  2400K .......... .......... .......... .......... .......... 31% 24,6M 0s
  2450K .......... .......... .......... .......... .......... 32%  179M 0s
  2500K .......... .......... .......... .......... .......... 33% 43,0M 0s
  2550K .......... .......... .......... .......... .......... 33%  432M 0s
  2600K .......... .......... .......... .......... .......... 34%  136M 0s
  2650K .......... .......... .......... .......... .......... 35% 53,8M 0s
  2700K .......... .......... .......... .......... .......... 35%  208M 0s
  2750K .......... .......... .......... .......... .......... 36% 30,0M 0s
  2800K .......... .......... .......... .......... .......... 37%  519M 0s
  2850K .......... .......... .......... .......... .......... 37%  201M 0s
  2900K .......... .......... .......... .......... .......... 38% 31,7M 0s
  2950K .......... .......... .......... .......... .......... 39%  160M 0s
  3000K .......... .......... .......... .......... .......... 39%  642M 0s
  3050K .......... .......... .......... .......... .......... 40%  118M 0s
  3100K .......... .......... .......... .......... .......... 41% 8,13M 0s
  3150K .......... .......... .......... .......... .......... 41% 40,7M 0s
  3200K .......... .......... .......... .......... .......... 42% 29,2M 0s
  3250K .......... .......... .......... .......... .......... 43%  669M 0s
  3300K .......... .......... .......... .......... .......... 43%  678M 0s
  3350K .......... .......... .......... .......... .......... 44% 49,3M 0s
  3400K .......... .......... .......... .......... .......... 44% 8,52M 0s
  3450K .......... .......... .......... .......... .......... 45%  498M 0s
  3500K .......... .......... .......... .......... .......... 46% 58,4M 0s
  3550K .......... .......... .......... .......... .......... 46%  498M 0s
  3600K .......... .......... .......... .......... .......... 47% 44,8M 0s
  3650K .......... .......... .......... .......... .......... 48% 11,3M 0s
  3700K .......... .......... .......... .......... .......... 48%  452M 0s
  3750K .......... .......... .......... .......... .......... 49%  626M 0s
  3800K .......... .......... .......... .......... .......... 50%  642M 0s
  3850K .......... .......... .......... .......... .......... 50%  603M 0s
  3900K .......... .......... .......... .......... .......... 51%  313M 0s
  3950K .......... .......... .......... .......... .......... 52% 11,5M 0s
  4000K .......... .......... .......... .......... .......... 52%  610M 0s
  4050K .......... .......... .......... .......... .......... 53%  678M 0s
  4100K .......... .......... .......... .......... .......... 54%  440M 0s
  4150K .......... .......... .......... .......... .......... 54%  669M 0s
  4200K .......... .......... .......... .......... .......... 55%  678M 0s
  4250K .......... .......... .......... .......... .......... 56%  603M 0s
  4300K .......... .......... .......... .......... .......... 56%  142M 0s
  4350K .......... .......... .......... .......... .......... 57% 37,8M 0s
  4400K .......... .......... .......... .......... .......... 58%  688M 0s
  4450K .......... .......... .......... .......... .......... 58%  660M 0s
  4500K .......... .......... .......... .......... .......... 59% 54,6M 0s
  4550K .......... .......... .......... .......... .......... 59%  581M 0s
  4600K .......... .......... .......... .......... .......... 60% 38,4M 0s
  4650K .......... .......... .......... .......... .......... 61%  669M 0s
  4700K .......... .......... .......... .......... .......... 61%  618M 0s
  4750K .......... .......... .......... .......... .......... 62%  153M 0s
  4800K .......... .......... .......... .......... .......... 63%  688M 0s
  4850K .......... .......... .......... .......... .......... 63% 81,0M 0s
  4900K .......... .......... .......... .......... .......... 64% 46,5M 0s
  4950K .......... .......... .......... .......... .......... 65%  574M 0s
  5000K .......... .......... .......... .......... .......... 65% 59,3M 0s
  5050K .......... .......... .......... .......... .......... 66% 95,6M 0s
  5100K .......... .......... .......... .......... .......... 67%  519M 0s
  5150K .......... .......... .......... .......... .......... 67% 29,8M 0s
  5200K .......... .......... .......... .......... .......... 68%  537M 0s
  5250K .......... .......... .......... .......... .......... 69%  574M 0s
  5300K .......... .......... .......... .......... .......... 69% 42,9M 0s
  5350K .......... .......... .......... .......... .......... 70%  176M 0s
  5400K .......... .......... .......... .......... .......... 71% 56,4M 0s
  5450K .......... .......... .......... .......... .......... 71%  537M 0s
  5500K .......... .......... .......... .......... .......... 72% 89,3M 0s
  5550K .......... .......... .......... .......... .......... 73% 28,8M 0s
  5600K .......... .......... .......... .......... .......... 73%  359M 0s
  5650K .......... .......... .......... .......... .......... 74%  337M 0s
  5700K .......... .......... .......... .......... .......... 74%  115M 0s
  5750K .......... .......... .......... .......... .......... 75%  239M 0s
  5800K .......... .......... .......... .......... .......... 76% 81,5M 0s
  5850K .......... .......... .......... .......... .......... 76%  394M 0s
  5900K .......... .......... .......... .......... .......... 77% 30,1M 0s
  5950K .......... .......... .......... .......... .......... 78%  391M 0s
  6000K .......... .......... .......... .......... .......... 78%  417M 0s
  6050K .......... .......... .......... .......... .......... 79%  391M 0s
  6100K .......... .......... .......... .......... .......... 80%  106M 0s
  6150K .......... .......... .......... .......... .......... 80% 21,0M 0s
  6200K .......... .......... .......... .......... .......... 81%  595M 0s
  6250K .......... .......... .......... .......... .......... 82%  479M 0s
  6300K .......... .......... .......... .......... .......... 82%  626M 0s
  6350K .......... .......... .......... .......... .......... 83%  678M 0s
  6400K .......... .......... .......... .......... .......... 84%  678M 0s
  6450K .......... .......... .......... .......... .......... 84% 34,2M 0s
  6500K .......... .......... .......... .......... .......... 85%  498M 0s
  6550K .......... .......... .......... .......... .......... 86%  642M 0s
  6600K .......... .......... .......... .......... .......... 86%  188M 0s
  6650K .......... .......... .......... .......... .......... 87% 64,6M 0s
  6700K .......... .......... .......... .......... .......... 88%  525M 0s
  6750K .......... .......... .......... .......... .......... 88% 21,6M 0s
  6800K .......... .......... .......... .......... .......... 89%  323M 0s
  6850K .......... .......... .......... .......... .......... 89%  461M 0s
  6900K .......... .......... .......... .......... .......... 90%  381M 0s
  6950K .......... .......... .......... .......... .......... 91%  479M 0s
  7000K .......... .......... .......... .......... .......... 91%  444M 0s
  7050K .......... .......... .......... .......... .......... 92%  235M 0s
  7100K .......... .......... .......... .......... .......... 93% 76,2M 0s
  7150K .......... .......... .......... .......... .......... 93%  397M 0s
  7200K .......... .......... .......... .......... .......... 94% 44,2M 0s
  7250K .......... .......... .......... .......... .......... 95%  440M 0s
  7300K .......... .......... .......... .......... .......... 95% 96,5M 0s
  7350K .......... .......... .......... .......... .......... 96%  432M 0s
  7400K .......... .......... .......... .......... .......... 97% 42,9M 0s
  7450K .......... .......... .......... .......... .......... 97% 47,6M 0s
  7500K .......... .......... .......... .......... .......... 98%  444M 0s
  7550K .......... .......... .......... .......... .......... 99%  212M 0s
  7600K .......... .......... .......... .......... .......... 99% 35,1M 0s
  7650K .......... ..........                                 100%  434M=0,2s

2024-02-04 12:44:22 (35,8 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

/var/folders/z5/w7rdzhpn7xx4g1wy_6cb0stw0000gn/T/ipykernel_70871/4264339011.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_trips_df = pd.read_csv(taxi_trips_file_name)
--2024-02-04 12:44:23--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.124.240, 52.216.204.213, 16.182.32.144, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.124.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

     0K .......... ..                                         100% 43,0M=0s

2024-02-04 12:44:25 (43,0 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [31]:
taxi_trips_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [32]:
taxi_trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [33]:
taxi_zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [34]:

print("data loaded")
# correct datatypes
taxi_trips_df["lpep_pickup_datetime"] = pd.to_datetime(taxi_trips_df["lpep_pickup_datetime"])
taxi_trips_df["lpep_dropoff_datetime"] = pd.to_datetime(taxi_trips_df["lpep_dropoff_datetime"])

data loaded

In [37]:

engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{db}")
# engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [38]:
engine

Engine(postgresql://root:***@localhost:5432/week1_hw)

In [ ]:

# just upload the schema
taxi_trips_df.head(0).to_sql(con=engine, name=taxi_trips_table_name, if_exists="replace")
print("Taxi trips schema uploaded")

taxi_zones_df.head(0).to_sql(con=engine, name=taxi_zones_table_name, if_exists="replace")
print("Taxi zones schema uploaded")



print(f"Length of taxi_trips_df... {len(taxi_trips_df)}")
print(f"Length of taxi_zones_df... {len(taxi_zones_df)}")


taxi_trips_df.to_sql(con=engine, name=taxi_trips_table_name, if_exists="append")
print("Taxi trips data appended")

taxi_zones_df.to_sql(con=engine, name=taxi_zones_table_name, if_exists="append")
print("Taxi zones data appended")



# if __name__ == "__main__":
#     parser = argparse.ArgumentParser(description="Ingest parquet data to postgres")

#     parser.add_argument("--user", help="user name for postgres")
#     parser.add_argument("--password", help="password for postgres")
#     parser.add_argument("--host", help="host name for postgres")
#     parser.add_argument("--port", help="port for postgres")
#     parser.add_argument("--db", help="database name for postgres")
#     parser.add_argument("--taxi_trips_table_name", help="table name for postgres")
#     parser.add_argument("--taxi_zones_table_name", help="table name for postgres")
#     parser.add_argument("--taxi_trips_url", help="url for trips csv file")
#     parser.add_argument("--taxi_zones_url", help="url for zones csv file")


#     args = parser.parse_args()
#     main(args)